<footer class="site-footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				{{> widget-get-in-touch}}
			</div>
		</div>
		<hr>
		<div class="row">
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
				<div class="copyright-left">
					Copyright &copy; 2013-2014 <a href="/">{{@blog.title}}</a>.
				</div>
			</div>
			<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
	        <div class="icp">
	          <a href=""></a>
	        </div>
		</div>
			<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
				<div class="copyright-right">
					Built using <a class="icon-ghost" href="http://ghost.org">Ghost</a> framework
				</div>
			</div>
		</div>
    </div>
</footer>