<div class="widget">
	<h3 class="widget-title">Docker 中文社区</h3>
	<div class="widget-content">
		<p>
			我们致力于 Docker 技术在中国的推广，组织了大量优秀的原创内容和精心翻译的国外技术文章。我们的翻译遵照 <a href="http://zh.wikipedia.org/wiki/Wikipedia:CC">CC 协议</a> ，如果侵犯了您的权益，请及时联系我们。
		</p>
	</div>
</div>