<div class="widget">
	<h3 class="widget-title">Get in touch</h3>
	<div class="widget-content">
		<ul class="vcard">
			<li>
				<span class="vcard-icon"><i class="fa fa-home"></i></span>
				<span class="vcard-text">江苏省苏州市星湖街328号创意产业园8栋402室</span>
			</li>
			<li>
				<span class="vcard-icon"><i class="fa fa-phone"></i></span>
				<span class="vcard-text">(+0512) 62729082</span>
			</li>
			<li>
				<span class="vcard-icon"><i class="fa fa-envelope"></i></span>
				<span class="vcard-text">fiona@docker.cn</span>
			</li>
		</ul>
	</div>
</div>
